.row {
    color: white;
    margin-left: 35px;
}

.row-posters {
    display: flex;
    object-fit: contain;
    width: 100%;
    /* max-height: 100px; */
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
    overflow-x: auto;
}

.row-posters::-webkit-scrollbar{
    display: none;
    /* -webkit-overflow-scrolling: touch; */
}

.row-poster{
    object-fit: contain;
    width: 100%;
    max-height: 150px;
    margin-right: 20px;
    transition: transform 500ms;
}

.row-poster:hover{
    transform: scale(1.30);
}

.row-posterlarge {
    max-height: 270px;
    max-width: 300px;
}

.row-posterlarge:hover{
    transform: scale(1.40);
}